<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="one.mapper.PmemberMapper">

<sql id="search">
  <if test="keyword != null">
  	<bind name="keyVal" value="'%'+keyword+'%'"/>
  </if>	
  <choose>
  	<when test="searchType=='i'.toString()">
  		and id Like #{keyVal} )
  	</when>
  	<when test="searchType=='a'.toString()">
  		and name Like #{keyVal} )
  	</when>
  	<when test="searchType=='l'.toString()">
  		and lev Like #{keyVal} )
  	</when>
  	<when test="searchType=='r'.toString()">
  		and rid Like #{keyVal} )
  	</when>
  	<when test="searchType=='b'.toString()">
  		and birthd Like #{keyVal} )
  	</when>
  	<when test="searchType=='ia'.toString()">
  		and id Like #{keyVal}
  		or  name Like #{keyVal} )
  	</when>
  	<otherwise>)</otherwise> 
  </choose>
</sql>
<!-- ** PageList 2. searchList 기능 ( Sql문 추가 )  -->
	<select id="searchRowsCount" resultType="int">
	<![CDATA[
		select count(*) from member where ( id <> 'admin' ]]>
		<include refid="search"></include>
	</select>

	<select id="searchList" resultType="vo.MemberVO">
		select id,password,name, 
		DECODE(lev,'A','관리자','B','나무','C','잎새','새싹') lev,
		birthd,point,weight,rid,uploadfile from 
		(select m.* , ROW_NUMBER() OVER(order by id) rnum from member m where id !='admin' 
		<include refid="search"></include>
		where rnum between #{sno} and #{eno}
	</select>

	<!-- ** PageList 1.-->
	<select id="totalRowCount" resultType="int">
	  <![CDATA[
		select count(*) from member where id <> 'admin' ]]>
	</select>
	
	<select id="pageList" resultType="vo.PmemberVO">
		select id,password,name, 
		DECODE(lev,'A','관리자','B','나무','C','잎새','새싹') lev,
		birthd,point,weight,rid,uploadfile from 
		(select m.* , ROW_NUMBER() OVER(order by id) rnum from member m where id !='admin')
		where rnum between #{sno} and #{eno}
	</select>

	<select id="selectList" resultType="vo.PmemberVO">
		select * from member where id != 'admin' order by id
	</select>
	
	<select id="selectOne" resultType="vo.PmemberVO">
		select * from member where id = #{id}
	</select>
	<!-- #{id} : parameter 로 전달된 vo 의 id 라는 컬럼의 value 가 전달됨 -->

	<insert id="insert">
		insert into pmember values(
		#{id},#{password},#{name},#{lev},#{birthd},#{point},#{weight},#{rid},#{uploadfile})
	</insert>
	
	<update id="update">
		update pmember set password=#{password}, name=#{name}, lev=#{lev}, birthd=#{birthd}
		, point=#{point}, weight=#{weight}, rid=#{rid}, uploadfile=#{uploadfile} where id=#{id}
	</update>
	
	<delete id="delete">
		delete from pmember where id=#{id}	
	</delete>

</mapper>  
